doctype html
head
  meta(charset='utf-8')
  meta(name='x-apple-disable-message-reformatting')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='format-detection' content='telephone=no, date=no, address=no, email=no')
  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap' rel='stylesheet' media='screen')
  style.
    @media only screen and (max-width:600px) {
    table {
    font-size: 20px !important;
    width: 100% !important;
    }
    }
div(style='display: block; background-color: #111827; padding: 2.5rem 0;')
  table(style='margin: 0 auto; font-family: Inter, Arial, sans-serif; color: #fff; font-size: 16px; width: 26rem;')
    tr
      td
        div(style='margin: 0 1rem 2.5rem; font-size: 3em; font-weight: 700;')
          | #{applicationTitle}
    tr
      td
        div(style='margin: 1rem 0 0; font-size: 1.25em;')
          | !{body}